:host(:not([hidden])) {
  display: block;
}

.bitfield-table-container {
  padding-bottom: 1px;
  max-width: 100%;
  overflow-x: auto;
}

.bitfield-table {
  background-color: #f8f9fa;
  border-collapse: collapse;
  text-align: center;
  font-family: monospace,monospace;
}

.bitfield-table th {
  background-color: #eaecf0;
}

.bitfield-table th, .bitfield-table td {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}

.bitfield-bits-index th {
  min-width: 2ch;
}

.bitfield-bits-value td:hover {
  cursor: pointer;
}

.bitfield-bits-value td.bitfield-bits-named {
  background: repeating-linear-gradient(
    -45deg,
    #eaecf0,
    #eaecf0 0.5em,
    #f8f9fa 0.5em,
    #f8f9fa 1em
  );
}

.bitfield-fields-name [title]::after {
  content: "*";
  font-size: 75%;
  position: relative;
  top: -0.5em;
}

.bitfield-overline {
  text-decoration-line: overline;
  text-decoration-thickness: .1em;
}

.bitfield-fields-enum td {
  text-align: right;
}

.bitfield-values:not([hidden]) {
  margin-block-start: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

@media not (min-width: 480px) {
  .bitfield-values {
    flex-direction: column;
  }
}

.bitfield-values > * {
  flex-grow: 1;
  flex-basis: calc(50% - 1em);
}

.tooltip:not([hidden]) {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 1;
  margin-left: -4em;
  border-radius: 0.5em;
  padding: 0.25em 0;
  width: 8em;
  background-color: gray;
  color: white;
  text-align: center;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
